<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.connecteddevice">

  <!--  Needed for BLE scanning/advertising -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

  <!--  Needed for detecting foreground user -->
  <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
  <uses-permission android:name="android.permission.MANAGE_USERS" />
</manifest>
